<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Shopping Car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Include SmartCart CSS -->
    <link href="dist/css/smart_cart.min.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
<h3> hello vue.js </h3>
<div id="app">    
    <section class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Productos
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <!-- BEGIN PRODUCTS -->
                            <div v-for="product in products">
                                <div class="col-md-4 col-sm-8">
                                    <div class="sc-product-item thumbnail">
                                        <img data-name="product_image" src="img/fifa18.png" alt="...">
                                        <div class="caption">
                                            <h4 data-name="product_name">{{ product.name }}</h4>
                                            <span v-if="product.quantity != 0">
                                                Disponible
                                            </span>
                                            <span v-if="product.quantity == 0">
                                                No Disponible
                                            </span>
                                            
                                            
                                            <hr class="line">
                                            
                                            <div>                                            
                                                <div class="form-group2">
                                                    <label>Cantidad: </label><br />                  
                                                    <input class="sc-cart-item-qty" v-model.number="product.quantity" type="number">
                                                    <button @click="product.quantity -= 1" class="sc-add-to-cart btn btn-danger btn-sm pull-right">Quitar</button>
                                                
                                                    <button @click="product.quantity += 1" class="sc-add-to-cart btn btn-success btn-sm pull-right">Agregar</button>    
                                                </div>
                                                <strong class="price pull-left">$1,080.50</strong>
                                                
                                                <input name="product_price" value="1080.50" type="hidden" />
                                                <input name="product_id" value="12" type="hidden" />
                                                
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>                           
                            </div>
                            <!-- END PRODUCTS -->
                        </div>
                    </div>
                </div>
                
            </div>                        

            <aside class="col-md-4">                
                <div class="sc-product-item thumbnail">
                    
                    <div class="caption">
                        <h4 data-name="product_name">Total de Productos: {{ totalProducts }}</h4>                        
                        
                        <hr class="line">
                        
                        <div v-for="product in products">                                            
                            <div class="form-group2">
                                <label>{{ product.name }} {{ product.quantity }} </label><br />
                                
                            </div>
                            
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </aside>
            
        </div>
    </section>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
 const app = new Vue({
     el: '#app',
     data: {
         products: []
     },
     computed: {
     	totalProducts () {
     		return this.products.reduce((sum, product) => {
     			return sum + product.quantity
     		}, 0)
     	}
     },
     created (){
     	fetch('https://api.myjson.com/bins/74l63')
     		.then(response => response.json())
     		.then(json => {
     			this.products = json.products
     		})
     }
 })
</script>

</body>
</html>


